:root{
    --panel_bg_colour: #999999;
    --panel_hover_colour: hsl(120, 100%, 63%);
    --content_height: 80vh;
    --current_width: 3;
    --div_text_height_mult: 200pt;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0;
    height: 100vh;
    width: auto;
}

#headerDiv{
    height: calc(100vh - var(--content_height));
}

#headerContent{
    font-weight: 900;
    font-size: 5em;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#gridObjects{
    display: grid;
    grid-template-rows: repeat(var(--current_width), 1fr);
    grid-template-columns: repeat(var(--current_width), 1fr);
    gap: 3px;
    height: var(--content_height);
    width: var(--content_height);

}

#leftColumn, #rightColumn{
    width: calc((100vh - var(--content_height)) / 2)
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.gridPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--panel_bg_colour);
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    line-height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(var(--div_text_height_mult, 1pt) / var(--current_width, 1pt));
    font-weight: 900;
    border-radius: 10px;
}

.gridPanel:hover{
    outline: 10px solid var(--panel_hover_colour);
    outline-offset: -10px;
    box-shadow: 0px 0px 2px 2px var(--panel_hover_colour);
}