body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridObjects{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

.gridPanel{
    background-color: aqua;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.gridPanel:hover{
    background-color: green;
}