:root{
    --panel_bg_colour: #999999;
    --panel_hover_colour: hsl(120, 100%, 63%);
    --content_height: 80vh;
    --content_gap: 5vh;
    --content_padding: 4vh;
    --current_width: 3;
    --div_text_height_mult: 200pt;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    height: 100vh;
    width: auto;
}

#headerDiv{
    height: calc(((100vh - var(--content_height)) / 2) + var(--content_gap));
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerContent{
    font-weight: 900;
    font-size: 5em;
    text-decoration: underline;
    margin: 0;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#gridObjects{
    display: grid;
    grid-template-rows: repeat(var(--current_width), 1fr);
    grid-template-columns: repeat(var(--current_width), 1fr);
    gap: 3px;
    height: calc(var(--content_height) - var(--content_padding) - var(--content_gap));
    width: calc(var(--content_height) - var(--content_padding) - var(--content_gap));

}

#leftColumn, #rightColumn{
    width: calc((100vh - var(--content_height)) / 2);
}

#resetButtons{
    justify-content: center;
}

#widthInput{
    min-width: 25px;
    max-width: 75px;
}

#canvas{
    pointer-events: none;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.gridPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--panel_bg_colour);
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    line-height: 100%;
    font-size: calc(var(--div_text_height_mult, 1pt) / var(--current_width, 1pt));
    font-weight: 900;
    border-radius: 10px;
}

.gridPanel:hover{
    outline: 10px solid var(--panel_hover_colour);
    outline-offset: -10px;
    box-shadow: 0px 0px 2px 2px var(--panel_hover_colour);
}

#copyrightFooter{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(80, 80, 80);
    color: white;
    /*height: calc((100vh - var(--content_height)) / 2);*/ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    max-height: 8vh;
    padding: 20px 0px;
    justify-self: flex-end;
}